.calibre {
  display: block;
  font-family: serif;
  font-size: 1em;
  line-height: 1.5;
  max-width: 60em;
  margin: 0 5pt;
  padding: 1em 0;
}
.calibre1 {
  color: #58a6ff;
  display: block;
  font-size: 2em;
  font-weight: bold;
  line-height: 1.2;
  padding-bottom: 0.3em;
  page-break-before: always;
  margin: 2em 0 0.67em;
  border-bottom: #58a6ff solid 2px;
}
.calibre2 {
  border-collapse: separate;
  border-spacing: 2px;
  display: table;
  margin-bottom: 0;
  margin-top: 0;
  text-indent: 0;
}
.calibre3 {
  display: table-column-group;
}
.calibre4 {
  display: table-column;
  width: 100%;
}
.calibre5 {
  display: table-header-group;
  vertical-align: middle;
}
.calibre6 {
  display: table-cell;
  font-weight: bold;
  text-align: left;
  vertical-align: inherit;
  padding: 1px;
}
.calibre7 {
  display: table-row-group;
  vertical-align: middle;
}
.calibre8 {
  display: table-cell;
  text-align: left;
  vertical-align: inherit;
  padding: 1px;
}
.calibre9 {
  display: block;
  margin: 1em 0;
}
.calibre10 {
  font-weight: bold;
}
.calibre11 {
  font-style: italic;
}
.header {
  display: table-row;
  vertical-align: inherit;
}
